.mid-point {
    /* border: solid 5px; */
    width: 100%;
    top: 105px;

}

.mid-point {
    position: relative;
    text-align: center;
    background-color: #E3E6E6;
}

.background-img {
 /* border: solid; */
 width: 90%;
 margin-left: 5vw;
 /* position:relative; */
 text-align: center;
 position: relative;
}

.background-img > img {
    /* padding: 0px;
    margin: 0px; */
    text-align: center;

    width: 100%;
    height: 100%;
    z-index: -1;
    /* border: solid; */
    /* position:relative; */
}

.first-row {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 10%;
    /* border: solid; */
}

.column-1 {
    margin-left: 2%;
    border: solid;
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: white;
    padding: 10px;
    
}

h2 {
    margin: 0;
    height: 10%;
    padding-bottom: 20px;
}

.electronics-img {
    position: relative;
    top: 20px;
    width: 80%;
    height: 50%;
    padding: 20px;
}


.column-2 {
    border: solid;
    position: absolute;
    margin-left: 27%;
    height: 100%;
    width: 20%;
    background-color: white;
    padding: 10px;
}

.books-img {
    position: relative;
    top: 20px;
    width: 80%;
    height: 50%;
    padding: 20px;
}

.column-3 {
    border: solid;
    position: absolute;
    margin-left: 52%;
    height: 100%;
    width: 20%;
    background-color: white;
    padding: 10px;
}

.bestSeller-img {
    position: relative;
    top: 20px;
    width: 80%;
    height: 50%;
    padding: 20px;
}


.column-4 {
    border: solid;
    position: absolute;
    margin-left: 77%;
    height: 100%;
    width: 20%;
    background-color: white;
    padding: 10px;
}

.newReleases-img {
    position: relative;
    top: 20px;
    width: 80%;
    height: 50%;
    padding: 20px;
}