.all {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100%;
}

.main-nav {
    align-items: center;
    border: solid;
    display: flex;
    justify-content: center;
    background-color: rgb(19, 25, 33);
    height: 100px;
    width: 100%;
    top: 0px;
    left: 0px;
}

.upper-nav {
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    width: 100%;

}

.home {
    margin-right: 10px;

}

.logo {
    width: 90px;
    margin-left: 10px;
    background-color: rgb(19, 25, 33);
    right: 0px;

}

.searchBar {
    width: 50vw;
    height: 5vh;
    border-radius: 5px;
    margin-left: 10px;
}

.dropdown-label {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

.dropdown:hover .dropdown-content {
    display: block;
 }

.signinLink{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 216, 20);
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.signupLink {
    color: rgb(0, 0, 0);
    margin-top: 5px;
}

.list {
    list-style-type: none;
}

.search-pic {
    width: 40px;
    display: inline-block;
    /* margin-top: 20px; */
}

.middle {
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

.sessionLinks {
    position: relative;
    margin-left: 20px;
}