.checkout {
    border: solid;
    top: 15%;
    position: absolute;
    width: 99.8%;
    left: 0px;
    display: flex;
    height: max-content;
}

/* .checkout_ad {
    width: 100%;
    margin-bottom: 10px;
} */

.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    width: 70vw;
}